---
layout: default
title: Lab Members
desc: Meet our group
nav: People
---

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .hcenter {
    text-align: center;
  }

  div.img-div {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-div img {
    -webkit-transform: translate(-50%);
    margin-left: 100px;
    display: block;
    margin-right: auto;
  }

  .container {
    max-width: 900px;
  }

  .col-md-5 {
    font-size: 0.8em;
  }
</style>

<h2>Principal Investigator:</h2>
<br />
<div class="row full-width">
  {% include person.html
  image="images/maoqi.jpg"
  site="http://jmxpearson.com" github="https://github.com/jmxpearson"
  email="john.pearson@duke.edu"
  linkedin="https://www.linkedin.com/in/jmxpearson" name="Qi Mao"
  desc="John earned his bachelor's degree in physics and math from the
  University of Kentucky and his PhD in physics from Princeton. He became a
  neuroscientist at Duke, where he did his postdoctoral training with Michael
  Platt, working on the neurobiology of reward and decision-making. From 2015 to
  2018, he was an Assistant Research Professor in the Duke Institute for Brain
  Sciences. In 2018, he moved back to the School of Medicine as an Assistant
  Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
  Department of Neurobiology. In addition, he maintains secondary
  appointments in the departments of Biostatics & Bioinformatics, Psychology & Neuroscience, and Electrical
  and Computer Engineering. (<a href='https://www.dropbox.com/s/jm0ftn246xqi3ne/john_pearson_cv.pdf?dl=0'>cv</a>)<br /><br /><br /><br />" %}
</div>
<h2>PhD:</h2>
<br />
<div class="row full-width">
  {% include
  person.html image="images/liyuanhang.jpg" 
  name="Yuanhang Li" desc="
  <br /><br /><br /><br />" %}

    {% include
    person.html image="images/xuenaifeng.jpg" 
    name="Naifeng Xue" desc="
    <br /><br /><br /><br />" %}
</div>
<h2>Graduate Students:</h2>
<br />
<div class="row full-width">

    {% include
    person.html image="images/chaorundong.jpg" 
    name="Rundong Chao" desc="
    <br /><br /><br /><br />" %}

    {% include
    person.html image="images/heyujie.jpg" 
    name="Yujie He" desc="
    <br /><br /><br /><br />" %}

    {% include
    person.html image="images/yangtinghan.jpg" 
    name="Tinghan Yang" desc="
    <br /><br /><br /><br />" %}

 

</div>
<!-- <h2>Research Associates:</h2>
<br />
<div class="row full-width">
</div> -->

<h2>Undergraduate Students:</h2>
<br />
<div class="row full-width">

   {%
    include person.html
    image="images/chenlan.jpg"
    name= "Lan Chen"
    desc= "<br /><br /><br /><br />"
  %}
  {%
    include person.html
    image="images/fangzhen.jpg"
    site="https://github.com/CostaliyA"
    name= "Zhen Fang"
    desc= "<br /><br /><br /><br />"
  %}
  {%
    include person.html
    image="images/tianzejie.jpg"
    name= "Zejie Tian"
    desc= "<br /><br /><br /><br />"
  %}
  {%
    include person.html
    image="images/wangzijian.jpg"
    name= "Zijian Wang"
    desc= "<br /><br /><br /><br />"
  %}
  {%
    include person.html
    image="images/caoyangyi.jpg"
    name= "Yiyang Cao"
    desc= "<br /><br /><br /><br />"
  %}
  {%
    include person.html
    image="images/weiwenliang.jpg"
    name= "Wenliang Wei"
    desc= "<br /><br /><br /><br />"
  %}
</div>
<br />
<h2>Former members</h2>
<h3>Postdocs:</h3>
<ul>
  <li>
    <a href="http://www.jeffmacinnes.com/">Jeff MacInnes</a> (2017; joint with
    <a href="https://executiveeducation.wharton.upenn.edu/faculty/FD3421A1AADB47C6BB1E9CBCF4DE0BAD/elizabeth-johnson">Elizabeth Johnson</a>)
     &#8594; University of Washington (postdoc)
  </li>
  <li>
    <a href="https://www.linkedin.com/in/ozachintan/">Chintan Oza</a>
    (2015-2016; joint with
    <a href="https://bme.duke.edu/faculty/warren-grill">Warren Grill</a>)
    &#8594; Consulting (L.E.K.)
  </li>
  <li>
    <a href="https://draelos.github.io">Anne Draelos</a>
    (2018-2022)
    &#8594; Assistant Professor, University of Michigan
  </li>
</ul>
<h3>Graduate Students:</h3>
<ul>
  <li><a href="https://www.linkedin.com/in/kelsey-mcdonald-phd-84a1077a/">Kelsey McDonald</a> (2016-2021) &#8594; Data Scientist, Labcorp Drug Development</li>
  <li><a href="https://www.massgeneral.org/neurosurgery/doctors/current-residents">Robert Gramer</a> (2016-2017; 3rd year medical student) &#8594; Neurosurgical Resident, Massachusetts General Hospital</li>
  <li><a href="https://achintzeus1994.github.io">Achint Kumar</a> (2021-2022) </li>
  <li><a href="https://www.linkedin.com/in/nayoungjun/">Na Young Jun</a> (2017-2022) &#8594; Meta Reality Labs</li>
</ul>
<h3>Research Associates:</h3>
<ul>
  <li>
    <a href="https://www.linkedin.com/in/lun-sam-yin/">Lun (Sam) Yin</a>
    (2017-2020) &#8594; Emory Biostatistics (PhD program)
  </li>
  <li>
    <a href="https://scholar.google.com/citations?user=-oXW2RYAAAAJ&hl=en">Jack Goffinet</a>
    (2018-2020) &#8594; Duke Computer Science (PhD program)
  </li>
  <li>
    Qian Kuang
    (2017-2018)
  </li>
  <li>
    <a href="https://shariqiqbal2810.github.io">Shariq Iqbal</a> (2015-2017)
    &#8594; USC Computer Science (PhD) &#8594; Deepmind
  </li>
  <li>
    <a href="https://www.linkedin.com/in/cindyxinchen">Xin (Cindy) Chen</a>
    (2016-2017) &#8594; Data Engineer (Citadel)
  </li>
  <li>
    <a href="https://abhishekupadhyaya.github.io/"
      >Abhishek Upadhyaya Ghimire</a
    >
    (2016-2017) &#8594; Cloud Security Engineer (Cisco)
  </li>
  <li>
    <a href="https://www.linkedin.com/in/athelia-paulli-83153489/">Athelia Rosa Paulli</a>
    (2016-2017) &#8594; UCLA &#8594; Children's National Hospital
  </li>
</ul>
<h3>Undergraduates:</h3>
<ul>
  <li>
    <a href="https://dominictanzillo.github.io/">Dominic Tanzillo</a>
     (2020-2021) &#8594; Tietronix Medical
  </li>
  <li>
    <a href="https://linkedin.com/in/daniel-sprague-yutaka">Daniel Sprague</a>
     (2020-2021) &#8594; Bain & Co.
  </li>
  <li>
    <a href="https://github.com/chaichontat/">Chaichontat Sriworarat (Richard)</a>
     (2019-2021) &#8594; Janelia Joint Graduate Program
  </li>
  <li>
    <a href="https://www.sujalmanohar.com/">Sujal Manojar</a>
     (2020) &#8594; <a href="https://hart.sanford.duke.edu/programs/hfp/">Hart Leadership Fellow</a> &#8594; Baylor College of Medicine
  </li>
  <li>Raymond Chen (2019, Huang Fellow)</li>
  <li>
    <a href="http://thomasli.me/">Thomas Li</a>
     (2018) &#8594; Vanderbilt Medical School
  </li>
  <li>
    <a href="https://www.linkedin.com/in/andrew-bartuska-649917121" >Andrew Bartuska</a>
     (2015-2016; Senior Thesis) &#8594; Harvard Medical School
  </li>
</ul>
