---
layout: default
title: Lab Members
desc: Meet our group
nav: People
---

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .hcenter {
    text-align: center;
  }

  div.img-div {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-div img {
    -webkit-transform: translate(-50%);
    margin-left: 100px;
    display: block;
    margin-right: auto;
  }

  .container {
    max-width: 900px;
  }

  .col-md-5 {
    font-size: 0.8em;
  }
</style>

<h2>Principal Investigator</h2>
<br />
<div class="row full-width">
  {% include person.html
  image="images/maoqi.jpg"
  site="https://sites.google.com/view/qi-mao/" github="https://github.com/HelenMao"
  email="qimao@cuc.edu.cn"
  name="Qi Mao"
  desc="I am now an associate professor at the School of Information and Communication Engineering and State Key Laboratory of Media Convergence and Communication, Communication University of China.

  I  have obtained my P.H.D degree from Peking University in July, 2021. (Institute of Digital Media which is directed by Prof. Wen Gao)
  
  I received the B.E. degree in Digital Media Technology and B.A. degree in Journalism in 2016 from Communication University of China.
  
  My current research interests lie in 
  
  AIGC (Image/Video Controllable Generation and Editing)
  
  Image/Video Compression based on Generative Models.
  
  I am supervised by Prof. Siwei Ma and have been a visiting Ph.D. student at Vision and Learning Lab at University of California, Merced, under the supervision of Prof. Ming-Hsuan Yang
  
  I am lucky to have opportunities to work with Dr. Hsin-Ying Lee (Snap research), Dr. Hung-Yu Tseng (Meta), Dr.Jia-Bin Huang (University of Maryland), Dr. Shiqi Wang (City University of Hong Kong), Dr. Xinfeng Zhang 
  (University of Chinese Academy of Sciences), and Dr. Shanshe Wang (Peking University)<br /><br /><br /><br />" %}
</div>
<h2>PhD</h2>
<br />
<div class="row full-width">
  {% include
  person.html image="images/liyuanhang.jpg" 
  name="Yuanhang Li" desc="  neuroscientist at Duke, where he did his postdoctoral training with Michael
  Platt, working on the neurobiology of reward and decision-making. From 2015 to
  2018, he was an Assistant Research Professor in the Duke Institute for Brain
  Sciences. In 2018, he moved back to the School of Medicine as an Assistant
  Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
  Department of Neurobiology. In addition, he maintains secondary
  <br /><br /><br /><br />" %}

    {% include
    person.html image="images/xuenaifeng.jpg" 
    name="Naifeng Xue" desc="  neuroscientist at Duke, where he did his postdoctoral training with Michael
    Platt, working on the neurobiology of reward and decision-making. From 2015 to
    2018, he was an Assistant Research Professor in the Duke Institute for Brain
    Sciences. In 2018, he moved back to the School of Medicine as an Assistant
    Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
    Department of Neurobiology. In addition, he maintains secondary
    <br /><br /><br /><br />" %}
</div>
<h2>Graduate Students</h2>
<br />
<div class="row full-width">

    {% include
    person.html image="images/chaorundong.jpg" 
    name="Rundong Chao" desc="  neuroscientist at Duke, where he did his postdoctoral training with Michael
    Platt, working on the neurobiology of reward and decision-making. From 2015 to
    2018, he was an Assistant Research Professor in the Duke Institute for Brain
    Sciences. In 2018, he moved back to the School of Medicine as an Assistant
    Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
    Department of Neurobiology. In addition, he maintains secondary
    <br /><br /><br /><br />" %}

    {% include
    person.html image="images/heyujie.jpg" 
    name="Yujie He" desc="  neuroscientist at Duke, where he did his postdoctoral training with Michael
    Platt, working on the neurobiology of reward and decision-making. From 2015 to
    2018, he was an Assistant Research Professor in the Duke Institute for Brain
    Sciences. In 2018, he moved back to the School of Medicine as an Assistant
    Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
    Department of Neurobiology. In addition, he maintains secondary
    <br /><br /><br /><br />" %}

    {% include
    person.html image="images/yangtinghan.jpg" 
    name="Tinghan Yang" desc="  neuroscientist at Duke, where he did his postdoctoral training with Michael
    Platt, working on the neurobiology of reward and decision-making. From 2015 to
    2018, he was an Assistant Research Professor in the Duke Institute for Brain
    Sciences. In 2018, he moved back to the School of Medicine as an Assistant
    Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
    Department of Neurobiology. In addition, he maintains secondary
    <br /><br /><br /><br />" %}

 

</div>
<!-- <h2>Research Associates:</h2>
<br />
<div class="row full-width">
</div> -->

<h2>Undergraduate Students</h2>
<br />
<div class="row full-width">

   {%
    include person.html
    image="images/chenlan.jpg"
    name= "Lan Chen"
    desc= "  neuroscientist at Duke, where he did his postdoctoral training with Michael
    Platt, working on the neurobiology of reward and decision-making. From 2015 to
    2018, he was an Assistant Research Professor in the Duke Institute for Brain
    Sciences. In 2018, he moved back to the School of Medicine as an Assistant
    Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
    Department of Neurobiology. In addition, he maintains secondary<br /><br /><br /><br />"
  %}
  {%
    include person.html
    image="images/fangzhen.jpg"
    site="https://github.com/CostaliyA"
    name= "Zhen Fang"
    desc= "  neuroscientist at Duke, where he did his postdoctoral training with Michael
    Platt, working on the neurobiology of reward and decision-making. From 2015 to
    2018, he was an Assistant Research Professor in the Duke Institute for Brain
    Sciences. In 2018, he moved back to the School of Medicine as an Assistant
    Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
    Department of Neurobiology. In addition, he maintains secondary<br /><br /><br /><br />"
  %}
  {%
    include person.html
    image="images/tianzejie.jpg"
    name= "Zejie Tian"
    desc= "  neuroscientist at Duke, where he did his postdoctoral training with Michael
    Platt, working on the neurobiology of reward and decision-making. From 2015 to
    2018, he was an Assistant Research Professor in the Duke Institute for Brain
    Sciences. In 2018, he moved back to the School of Medicine as an Assistant
    Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
    Department of Neurobiology. In addition, he maintains secondary<br /><br /><br /><br />"
  %}
  {%
    include person.html
    image="images/wangzijian.jpg"
    name= "Zijian Wang"
    desc= "  neuroscientist at Duke, where he did his postdoctoral training with Michael
    Platt, working on the neurobiology of reward and decision-making. From 2015 to
    2018, he was an Assistant Research Professor in the Duke Institute for Brain
    Sciences. In 2018, he moved back to the School of Medicine as an Assistant
    Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
    Department of Neurobiology. In addition, he maintains secondary<br /><br /><br /><br />"
  %}
  {%
    include person.html
    image="images/caoyangyi.jpg"
    name= "Yangyi Cao"
    desc= "  neuroscientist at Duke, where he did his postdoctoral training with Michael
    Platt, working on the neurobiology of reward and decision-making. From 2015 to
    2018, he was an Assistant Research Professor in the Duke Institute for Brain
    Sciences. In 2018, he moved back to the School of Medicine as an Assistant
    Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
    Department of Neurobiology. In addition, he maintains secondary<br /><br /><br /><br />"
  %}
  {%
    include person.html
    image="images/weiwenliang.jpg"
    name= "Wenliang Wei"
    desc= "  neuroscientist at Duke, where he did his postdoctoral training with Michael
    Platt, working on the neurobiology of reward and decision-making. From 2015 to
    2018, he was an Assistant Research Professor in the Duke Institute for Brain
    Sciences. In 2018, he moved back to the School of Medicine as an Assistant
    Professor in the Department of Biostatistics & Bioinformatics, and in 2022, he moved to the
    Department of Neurobiology. In addition, he maintains secondary<br /><br /><br /><br />"
  %}
</div>
<br />
<h2>Intern</h2>
<h3>PhD:</h3>
<ul>
  <li>
     Bo Peng(2023-present)
  </li>
</ul>
<h3>Graduate Students:</h3>
<ul>
  <li>Lingzhou Wei(2023-present)
  </li>
</ul>


<h3>Undergraduates:</h3>
<ul>
  <li>
    Haokun Chen(2023-present)
  </li>
  <li>
    Qiaoyi Xu(2023-present)
  </li>
  <li>
    Qingqian Li(2023-present)
  </li>
</ul>

<h2>Alumni</h2>
<ul>
  <li>
    Chongyu Wang(Graduate Student,2021-2023):<a href="http://www.chinatelecom.com.cn/">ChinaTelecom</a>

  </li>
  
</ul>
<h2>Research Associates</h2>
<ul>
  <li>
    <a href="https://ycgu.site/">Yuchao Gu</a>
    (2023-present,<a href="https://sites.google.com/view/showlab">Show Lab</a>)
  </li>
  
</ul>
